# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio-specific files
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/
x64/
x86/
*.suo
*.user
*.aps
*.pdb
*.ilk
*.sdf
*.opensdf
.vs/